---
standalone: true
---

@import '../../../node_modules/font-awesome/less/font-awesome.less';
@fa-font-path:  "../fonts";

@import '../../../node_modules/semantic/src/elements/icon.less';

body {
	margin: 0;
	/* font-family: 'Alegreya Sans', sans-serif; */
	font-family: 'The Girl Next Door', cursive;
	min-height: 900px;
}

.navbar {
	width: 100%;
	height: 85px;
	background: white;
	z-index: 999;
	position: fixed;

	.logo {
		float: left;
		margin-left: 50px;
		font-size: 25px;
		color: black;
		margin-top: 28px;
	}

	.menu {
		float: right;
		margin-right: 50px;
		width: 500px;
	
		.item {
			float: left;
			margin-right: 40px;

			> p {
				margin-top: 29px;
				font-size: 25px;
				color: black;
			}
		}
	}
}

.slider.container {
	background-size: 100%;
	width: 100%;
	position: absolute;
	top: 85px;
	height: 500px;
}

/*Stupid hack to make opacity work*/

.slider.container::after {
  content: "";
  background: url("/images/spaces.jpg") no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-size: 100%;

}

.slider.container > p{
	margin-top: 0px;
	margin-bottom: 0px;
	opacity: 1.0;
	position: relative;
	top: 175px;
	left: 22%;
	font-size: 60px;
	width: 800px;
}

.about.container {
	position: relative;
	top: 339px;
	height: 350px;
	margin: 0 auto;
	margin-left: 5px;
}

.about.component.container {
	position: relative;
	top:50px;
	left:9%;
	float: left;
	height: 300px;
	width: 300px;

	> img {
		height: 100px;
		width: 100px;
		position: relative;
		left: 34%;
	}

	> p {
		text-align: center;
		font-size: 40px;
		margin-bottom: 10px;
	}

}

#what {
	margin-left: 130px
}

#how {
	margin-left: 130px
}

#colab {
	height: 80px;
	width: 80px;
	margin-left: 8px;
	margin-top: 10px;
}

#content {
	font-size: 20px;
}

.colabcontent {
	margin-top: 32px;
}



