<div class="about container">
	<div class="about component container" id="who">
		<p>Who we Are</p>

		<img src="/svg/group.svg"></img>

		<p id="content">
			We are a network of artists, makers, builders, techies and friends.
		</p>

	</div>

	<div class="about component container" id="what">
		
		<p>What we Do</p>
		
		<img src="/svg/toolbox.svg"></img>

		<p id="content">
			We create immersive sculptures and environments that are highly interactive. 
		</p>

	</div>

	<div class="about component container" id="how">
	
		<p>How we Do It</p>
		
		<img src="/svg/colab.svg" id="colab"></img>

		<p class="colabcontent" id="content">
			We help artists find collaborators, execute their visions and connect with opportunites.
		</p>

	</div>
</div>