<div class="menu">
  <% menuItems.forEach(function (item) { %>

  <a href=".<%= item.url %>">
    <div class="<% if (item.state) { %>active <% } %>item" id="<%= item.url.replace(/.html$/, "") %>">
      <p><%= item.title %></p>
    </div>
  </a>
  
  <% }) %>
</div>